/* .search_css {
  border-radius: 8px;
  border: 1px solid #121212;
  background: #fff;
  width: 560px;
  height: 48px;
}
.search_css input {
  border-radius: 8px;
  width: 500px;
  height: 48px;
  border: none;
}
.search_css div {
  display: flex;
  background: #fff;
  border-radius: 8px;
  height: 48px;
}
.search_css button {
    width: 60px;
    height:48px;
    border-radius: 8px;
   border-left: 1px black;
  border: none;
  background-color: white;
}
/* .searchIcon{

} */
.searchInput {
  width: 23em;
  display: flex;
  background: #fff;
  border-radius: 8px;
  height: 48px;
}
.search {
  border-radius: 8px;
  border: 1px solid #121212;
  background: #fff;
  width: 23rem;
}
.search Input {
  border-radius: 8px;
  width: 20em;
  height: 48px;
  border: none;
}
.searchIcon {
  border: none;
  background-color: white;
}
input:focus {
  outline: none;
}
.dataResult {
  margin-top: 5px;
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
.dataResult::-webkit-scrollbar {
  display: none;
}
.dataResult {
  width: 35%;

  align-items: center;
  color: black;
}
#clearBtn {
  cursor: pointer;
}
.dataItem {
 
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}
